input {
   display: block;   
}

#total {
    border: 1px solid red;   
}

body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.error {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
}

.success {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #0cd800;
	background-color: #BAFFBA;
}